*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.body{
    background-color: linear-gradient(rgba(250,250,250, 0.237), rgba(250,250,250,0.537));
}

.nav-bar{
    padding-left: 150px;
    height: 90px;
    width: 100%;
    display: inline-flex;
    border-bottom: 2px solid rgb(218, 220, 222);
    position: sticky;
    top: 0; 
    z-index: 90;
    background-color: white;
}

.nav-logo{
    height: 80px;
    padding-top: 5px;
    padding-right: 300px;
}

.nav-list{}

.nav-lists{
    display: inline-flex;
    list-style: none;
}

.nav-item{
    align-content: center;
    height: 80px;
}

.toggle-items{
    color: rgb(0, 32,138);
    font-size: 16px;
    padding-right: 30px;
    text-decoration: none;
    font-weight: 600;
}

.toggle-items:hover{
    color: rgb(96,110,179);
}

.dropdown-menu{
    width: 250px;
}

.dropdown-item{
    margin: 10px 10px;    
    border-top: 2px solid rgb(0, 32,138);
}

.nav-link{
    color: rgb(0, 32,138);
    font-size: 16px;
    padding-right: 40px;
    text-decoration: none;
}

.menu{}

.select{}

.select-menu{}




























































































































































#wac {
  display: inline-flex; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; 
  left: 40px; 
  z-index: 99;
}

#pix{
    height: ;
}

#txt{
    background-color: rgb(250,250,250); 
  color: black;
  cursor: pointer; 
  padding: 5px;
  font-size: 12px;
  height: 30px;
  margin-top: 10px;
}

.footer1{
    gap: 75px;
    padding: 75px 0 75px 150px;
    display: inline-flex;
    justify-content: space-between;
}

#short{
    padding-right: 150px;
}

.divs1{
    width: 150px;
}

.divs1 h3{
    font-size: 19px;
    font-weight: 600;
    line-height: 23px;
    color: rgb(0, 32, 138);
}

.divs1 p{
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(51,51,51);
}

.divs-img{}

.footer1 .map{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(46, 163, 242);
}

.divs2{
    width: 150px;
}

.divs2 h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: rgb(51,51,51);
}

.divs2 p{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(102, 102, 102);
}

.divs2 .number{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: rgb(102, 102, 102);
}

.divs3{
    width: 150px;
}

.divs3a{}

.divs3a h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: rgb(51,51,51);
}

.divs3a p{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(102, 102, 102);
}

.divs3a .number{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: rgb(102, 102, 102);
}

.footer2{
    color: #fff;
    height: 60px;
    background-color: rgb(5, 0, 68);
}

.footer2 p{
    padding: 33px 0 0 150px;
}




/* .opacity-100{} */

.background_image{
    background-image: linear-gradient(rgba(0,0,0,0.237), rgba(0,0,0,0.537)), url("./Images/pexels-scottwebb-1903962.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 1050px;
    height: 607px;
}

.footer3{
    display: inline-flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    border-top: 1px solid rgb(218, 220, 222);
    align-items: center;
    padding-left: 30px;
    background-color: rgb(32, 33, 36);
}

.footer3 a{
    text-decoration: none;
    color: rgb(206,45,45);
    font-size: 20px;
    font-weight: 300;
}

.footer3 a:hover{
    color: white;
}